.home-page {
  padding-top: 80px;
}

.products-header {
  display: block;
  height: 240px;
  padding: 20px;
  margin: 30px 10vw 30px 10vw;
}

.filter-tools {
  display: inline-block;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: inline-block;
}

.category-dropdown {
  display: inline-block;
}

.grid-cols-8 {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  position: relative;
  margin: 30px 10vw 30px 10vw;
}

.grid-item {
  margin: 10px;
}

.col-span-1 {
  grid-column: span 1 / span 1;
  margin: auto;
}
.col-span-2 {
  grid-column: span 2 / span 2;
  margin: auto;
}

.col-span-3 {
  grid-column: span 3 / span 3;
  margin: auto;
}

.gap-4 {
  gap: 1rem;
}
