.products-header {
  margin: 30px 10vw 30px 10vw;
  display: inline-flex;
}

.dropdown {
  width: 300px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
  margin-right: 16px;
}

.dropdown-menu {
  /* display: none; */
  height: 2rem;
  width: 284px;
  border: 1px solid white;
  background-color: white;
}

.dropdown-label {
  font-size: 13px;
  font-style: italic;
  color: red;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}

.dropdown-options {
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}
